<div nz-span="12"
     *ngIf="isLoading$ | async; else navigation">
    <nz-skeleton-element [nzActive]="true"
                         *ngFor="let i of 7 | arrayFromNumber"
                         nzType="input"
                         nzSize="small"
                         class="menu__skeleton-element">
    </nz-skeleton-element>
</div>
<ng-template #navigation>
    <nav>
        <ul nz-menu
            nz-span="12"
            class="menu">
            <li *ngFor="let category of categories$ | async, let index = index"
                [(nzOpen)]="openMap['sub' + index]"
                (nzOpenChange)="openHandler('sub' + index)"
                [nzTitle]="category.name"
                nz-submenu>
                <ul>
                    <li *ngFor="let subcategory of category.subCategories"
                        nz-menu-item
                        [routerLink]="['/category/' + subcategory._id]">
                        {{subcategory.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</ng-template>