:host {
  .product {
    &__details {
      padding: 0 40px;
    }

    &__characteristic {
      margin-bottom: var(--offset) !important;
    }

    &__tabset,
    &__characteristic {
      width: 600px;
    }

    &__image {
      width: 400px;
    }
  }
}
