<nz-layout class="app__container">
    <nz-header>
        <div class="app__header">
            <span>LOGO</span>
            <span>КОРЗИНА</span>
        </div>
    </nz-header>
    <nz-layout class="app__content"
               nz-row>
        <ul nz-menu
            nz-col
            nzSpan="4">
            <li *ngFor="let category of categories, let index = index"
                [(nzOpen)]="openMap['sub' + index]"
                (nzOpenChange)="openHandler('sub' + index)"
                [nzTitle]="category.name"
                nz-submenu>
                <ul>
                    <li *ngFor="let subcategory of category.subCategories"
                        nz-menu-item>
                        {{subcategory.name}}
                    </li>
                </ul>
            </li>
        </ul>
        <nz-content nz-col
                    nzSpan="20">
            List
        </nz-content>
    </nz-layout>
</nz-layout>