:host {
  display: flex;
  flex-direction: column;

  background-color: var(--bg-color);;

  .app {
    &__header {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      font-size: 2em;
      color: var(--color-white);

      [nz-icon] {
        color: var(--color-white);
      }
    }

    &__logo {
      color: var(--color-white);
    }
  }
}
