<tech-shop-wrapper>
    <div nz-span="12">
        <tech-shop-menu></tech-shop-menu>
        <div [formGroup]="form">
            <h2 class="product-list__offset--top">Фильтры по товарам</h2>
            <h3>По названию</h3>
            <input id="address"
                   nz-input
                   placeholder="Фильтр по названию"
                   formControlName="filterString" />
            <h3 class="product-list__offset--top">Бренд</h3>
            <div class="product-list__skeleton-brands-container"
                 *ngIf="isLoadingBrands$ | async; else brandsBlock">
                <nz-skeleton-element [nzActive]="true"
                                     *ngFor="let i of 4 | arrayFromNumber"
                                     nzType="input"
                                     nzSize="small"
                                     class="product-list__offset--bottom">
                </nz-skeleton-element>
            </div>
            <ng-template #brandsBlock>
                <ng-container formArrayName="brands">
                    <label class="product-list__checkbox"
                           nz-checkbox
                           *ngFor="let brand of brands$ | async"
                           [formControlName]="brand"
                           (click)="toggleBrand(brand)">
                        {{brand}}
                    </label>
                </ng-container>
            </ng-template>
            <h3 class="product-list__offset--top">Цена</h3>
            <label for="minPrice">
                От
            </label>
            <ng-container *ngIf="isLoading$ | async; else minPriceField">
                <nz-skeleton-element [nzActive]="true"
                                     nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-price">
                </nz-skeleton-element>
            </ng-container>
            <ng-template #minPriceField>
                <input id="minPrice"
                       nz-input
                       formControlName="min"
                       type="number"
                       step="1"
                       *ngIf="(minPrice$ | async) as minPrice"
                       [min]="minPrice"
                       [max]="maxPrice$ | async"
                       [placeholder]="'Минимум ' + minPrice"
                       [value]="minPrice" />
            </ng-template>

            <label for="maxPrice">
                До
            </label>
            <ng-container *ngIf="isLoading$ | async; else maxPriceField">
                <nz-skeleton-element [nzActive]="true"
                                     nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-price">
                </nz-skeleton-element>
            </ng-container>
            <ng-template #maxPriceField>
                <input id="maxPrice"
                       nz-input
                       formControlName="max"
                       type="number"
                       step="1"
                       *ngIf="(maxPrice$ | async) as maxPrice"
                       [placeholder]="'Максимум ' + maxPrice"
                       [value]="maxPrice" />
            </ng-template>

            <button nz-button
                    nzType="primary"
                    class="product-list__btn--apply"
                    (click)="updateProducts()">
                Применить
            </button>
        </div>
    </div>
    <div nz-span="12"
         *ngIf="isLoading$ | async; else cardList"
         class="product-list__skeleton-container">
        <nz-space *ngFor="let i of 6 | arrayFromNumber"
                  nzDirection="horizontal">
            <nz-skeleton-element nzType="image"
                                 nzSize="default"
                                 class="product-list__skeleton-element"
                                 [nzActive]="true">
            </nz-skeleton-element>
            <nz-space class="product-list__skeleton-text">
                <nz-skeleton-element [nzActive]="true"
                                     *ngFor="let i of 4 | arrayFromNumber"
                                     nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-element">
                </nz-skeleton-element>
            </nz-space>
        </nz-space>
    </div>
    <ng-template #cardList>
        <section nz-col
                 nzSpan="12"
                 class="product-list__offset--left">
            <ng-container *ngIf="(products$ | async)?.length; else noProducts">
                <tech-shop-product-card *ngFor="let product of products$ | async"
                                        [product]="product">
                </tech-shop-product-card>
            </ng-container>
            <ng-template #noProducts>
                <p class="product-list__not-found">К сожалению, нет товаров, удовлетворяющих условиям</p>
            </ng-template>
        </section>
    </ng-template>
</tech-shop-wrapper>