:host {
  .product-list {
    &__offset--left {
      margin-left: var(--offset);
    }

    &__offset--top {
     padding-top: var(--offset)
    }

    &__checkbox {
      display: flex; 
      align-items: center; 
      margin: 0;
    }
    
    &__skeleton-container {
      display: flex;
      flex-direction: column;
      width: calc(var(--offset) * 94);
      margin-left: var(--offset);
    }

    &__skeleton-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: var(--offset);
      margin-left: var(--offset);
    }

    &__skeleton-element {
      &:first-of-type {
        margin-top: 0;
      }

      &:nth-of-type(n) {
        margin-bottom: calc(var(--offset) / 2);
      }

      &:nth-of-type(2) {
        width: 30%;
      }

      &:nth-of-type(3) {
        width: 10%;
      }

      &:nth-of-type(4) {
        width: 20%;
      }

      &:nth-of-type(5) {
        width: 50%;
      }
    }

    &__btn--apply {
      display: flex;
      margin-top: var(--offset);
      margin-left: auto;
    }

    &__not-found {
      font-size: 2em;
      text-align: center;
    }
  }
}
