<tech-shop-wrapper>
    <div>
        <tech-shop-menu></tech-shop-menu>
        <ng-container [formGroup]="form">
            <h2>Фильтры по товарам</h2>
            <h3>По названию</h3>
            <input id="address"
                   nz-input
                   placeholder="Фильтр по названию"
                   formControlName="filterString" />
            <h3>Бренд</h3>
            <ng-container formArrayName="brands">
                <label style="display: flex; align-items: center;"
                       nz-checkbox
                       *ngFor="let brand of brands$ | async"
                       [formControlName]="brand"
                       (click)="checkBrand(brand)">
                    {{brand}}
                </label>
            </ng-container>
            <h3>Цена</h3>
            <label for="minPrice">От</label>
            <input id="minPrice"
                   nz-input
                   formControlName="min"
                   type="number"
                   step="1"
                   [min]="minPrice$ | async"
                   [max]="maxPrice$ | async"
                   [placeholder]="'Минимум ' + (minPrice$ | async)"
                   [value]="minPrice$ | async" />
            <label for="maxPrice">До</label>
            <input id="maxPrice"
                   nz-input
                   formControlName="max"
                   type="number"
                   step="1"
                   [placeholder]="'Максимум ' + (maxPrice$ | async)"
                   [value]="maxPrice$ | async" />
        </ng-container>
    </div>
    <div *ngIf="isLoading$ | async; else cardList"
         class="product-list__skeleton-container">
        <nz-space *ngFor="let i of 6 | arrayFromNumber"
                  nzDirection="horizontal">
            <nz-skeleton-element nzType="image"
                                 nzSize="default"
                                 class="product-list__skeleton-element"
                                 [nzActive]="true">
            </nz-skeleton-element>
            <div class="product-list__skeleton-text">
                <nz-skeleton-element nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-element"
                                     [nzActive]="true">
                </nz-skeleton-element>
                <nz-skeleton-element nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-element"
                                     [nzActive]="true">
                </nz-skeleton-element>
                <nz-skeleton-element nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-element"
                                     [nzActive]="true">
                </nz-skeleton-element>
                <nz-skeleton-element nzType="input"
                                     nzSize="small"
                                     class="product-list__skeleton-element"
                                     [nzActive]="true">
                </nz-skeleton-element>
            </div>
        </nz-space>
    </div>

    <ng-template #cardList>
        <section nz-col
                 nzSpan="12"
                 class="product-list__offset">
            <tech-shop-product-card *ngFor="let product of products$ | async"
                                    [product]="product">
            </tech-shop-product-card>
        </section>
    </ng-template>
</tech-shop-wrapper>