<nz-card [nzCover]="coverTemplate"
         class="product">
    <nz-card-meta class="product__name"
                  [nzTitle]="product.name"
                  (click)="onClickCard()"
                  [routerLink]="[product._id]">
    </nz-card-meta>
    <tech-shop-rating [length]="product.feedbacksCount"></tech-shop-rating>
    <div><strong class="product__price"
                *ngIf="isShowPrice">{{product.price}}$</strong></div>
    <button *ngIf="isShowButton"
            class="product__btn"
            nz-button
            nzType="default"
            (click)="addToCart(product)">
        Добавить в корзину
    </button>
</nz-card>
<ng-template #coverTemplate>
    <img alt="example"
         class="product__img"
         [src]="product.images[0].url"
         [routerLink]="[product._id]" />
</ng-template>