<nz-carousel nzAutoPlay
             class="carousel">
    <div nz-carousel-content
         *ngFor="let category of categories">
        <div class="carousel__content">
            <h3 class="carousel__title">{{ category.name }}</h3>
            <button class="carousel__btn"
                    nz-button
                    nzType="primary">
                Посмотреть предложения
            </button>
        </div>
    </div>
</nz-carousel>
<section>
    <h2>Рекомендации для вас</h2>
    <div class="card-container">
        <nz-card class="card"
                 *ngFor="let suggestion of suggestions">
            <div class="card__img-container">
                <img class="card__img"
                     [src]="suggestion.images[0].url"
                     [alt]="suggestion.name">
            </div>
            <div>{{suggestion.name}}</div>
            <b>{{suggestion.price}}$</b>
        </nz-card>
    </div>
</section>