:host {
  .menu {
    align-self: flex-start;
    margin-right: 1em;

    &__skeleton {
      width: calc(var(--offset) * 16);
      height: calc(var(--offset) *30);
    }

    &__skeleton-element {
      width: 100%;
      margin-bottom: var(--offset);
    }
  }
}
