:host {
  width: 90%;

  .product {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--offset);
    padding: var(--offset) 0 0 var(--offset);

    &__name {
      cursor: pointer;
    }

    &__btn {
      margin-top: var(--offset);
    }

    &__img {
      max-width: calc(var(--offset) * 15);

      cursor: pointer;
    }

    &__price {
      font-size: 1.3em;
    }
  }
}
