<nz-card [nzCover]="coverTemplate"
         class="product">
    <nz-card-meta [routerLink]="[product._id]"
                  [nzTitle]="product.name">
    </nz-card-meta>
    <tech-shop-rating [length]="product.feedbacksCount"></tech-shop-rating>
    <div><strong class="product__price"
                *ngIf="isShowPrice">{{product.price}}$</strong></div>
    <button *ngIf="isShowButton"
            class="product__btn"
            nz-button
            nzType="default"
            (click)="addToCart(product)">
        Добавить в корзину
    </button>
</nz-card>
<ng-template #coverTemplate>
    <img alt="example"
         class="product__img"
         [src]="product.images[0].url" />
</ng-template>