:host {
  nz-layout,
  nz-header {
    display: block;
  }

  .main {
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: var(--padding);
    }
  }
}
