<tech-shop-wrapper>
    <tech-shop-menu></tech-shop-menu>
    <section nz-col
             nzSpan="12"
             class="main__offset">
        <nz-skeleton [nzActive]="true"
                     *ngIf="isLoadingCategories$ | async; else carousel"
                     class="carousel-skeleton">
        </nz-skeleton>
        <ng-template #carousel>
            <nz-carousel nzAutoPlay
                         class="carousel">
                <div nz-carousel-content
                     *ngFor="let category of categories$ | async">
                    <div class="carousel__content">
                        <h3 class="carousel__title">{{ category.name }}</h3>
                        <button class="carousel__btn"
                                nz-button
                                nzType="primary"
                                [routerLink]="['category', category.subCategories[0]._id]">
                            Посмотреть предложения
                        </button>
                    </div>
                </div>
            </nz-carousel>
        </ng-template>
        <section>
            <div *ngIf="isLoadingSuggestions$ | async; else suggestions"
                 class="suggestions__skeleton">
                <nz-skeleton-element nzType="input"
                                     nzSize="default"
                                     class="suggestions__skeleton-title"
                                     [nzActive]="true">
                </nz-skeleton-element>
                <div class="suggestions__skeleton-container">
                    <nz-space *ngFor="let i of 6 | arrayFromNumber"
                              nzDirection="vertical"
                              class="suggestions__skeleton-item">
                        <nz-skeleton-element nzType="image"
                                             nzSize="default"
                                             class="suggestions__skeleton-element"
                                             [nzActive]="true">
                        </nz-skeleton-element>
                        <nz-skeleton-element nzType="input"
                                             nzSize="small"
                                             class="suggestions__skeleton-element"
                                             [nzActive]="true">
                        </nz-skeleton-element>
                        <nz-skeleton-element nzType="input"
                                             nzSize="small"
                                             class="suggestions__skeleton-element"
                                             [nzActive]="true">
                        </nz-skeleton-element>
                        <nz-skeleton-element nzType="input"
                                             nzSize="small"
                                             class="suggestions__skeleton-element"
                                             [nzActive]="true">
                        </nz-skeleton-element>
                        <nz-skeleton-element nzType="input"
                                             nzSize="small"
                                             class="suggestions__skeleton-element"
                                             [nzActive]="true">
                        </nz-skeleton-element>
                    </nz-space>
                </div>
            </div>
            <ng-template #suggestions>
                <h2 class="suggestions__title">Рекомендации для вас</h2>
                <article class="card-container">
                    <ng-container *ngFor="let suggestion of suggestions$ | async">
                        <nz-card class="card"
                                 nzHoverable
                                 [routerLink]="['category', suggestion.subCategory, suggestion._id]"
                                 [nzCover]="coverTemplate">
                            <div>{{suggestion.name}}</div>
                            <tech-shop-rating [length]="suggestion.feedbacksCount"></tech-shop-rating>
                            <p>{{suggestion?.feedbacksCount}} {{suggestion.feedbacksCount | pluralize: ['отзыв',
                                'отзыва',
                                'отзывов']}}</p>
                            <b>{{suggestion.price}}$</b>
                        </nz-card>
                        <ng-template #coverTemplate>
                            <div class="card__img-container">
                                <img class="card__img"
                                     [alt]="suggestion.name"
                                     [src]="suggestion.images[0].url" />
                            </div>
                        </ng-template>
                    </ng-container>
                </article>
            </ng-template>

        </section>
    </section>
</tech-shop-wrapper>