<tech-shop-wrapper>
    <tech-shop-menu></tech-shop-menu>
    <article nz-col
             nzSpan="12"
             class="product-list__offset">
        <ng-container *ngFor="let product of products">
            <nz-card [nzCover]="coverTemplate"
                     class="product">
                <nz-card-meta [routerLink]="[product._id]"
                              [nzTitle]="product.name">
                </nz-card-meta>
                <strong>{{product.price}}$</strong>
                <button nz-button
                        nzType="default">
                    Добавить в корзину
                </button>
            </nz-card>
            <ng-template #coverTemplate>
                <img alt="example"
                     class="product__img"
                     [src]="product.images[0].url" />
            </ng-template>
        </ng-container>
    </article>
</tech-shop-wrapper>