:host {
  .product {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;

    &__img {
      max-width: 150px;
    }
  }

  // todo! duplicated
  .main {
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: var(--padding);
    }
  }
}
