:host {
  .shopping-cart {
    padding: var(--offset);

    border: 1px solid var(--gray);
    border-radius: 4px;;

    &__container {
      display: flex;
      align-items: center;
    }

    &__total-price {
      margin-bottom: var(--offset);

      font-size: 1.3em;
    }

    &__actions {
      margin-left: auto;

      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__title {
      text-align: center;
    };

    &__label {
      color: var(--gray);
    }

    &__input--container {
      display: flex;
      flex: 1;
      justify-content: space-between;

      &:first-of-type {
        margin-bottom: calc(var(--offset) * 2);
      }

      & > div {
        display: flex;
        flex-direction: column;
      }
    }

    &__input {
      width: calc(var(--offset) * 40);
    }

    &__btn--order {
      align-self: center;
      margin-top: calc(var(--offset) * 2);
    }
  }
}
